<!-- Cabeçalho -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="col-xl-12">
            <h1 class="line anim-typewriter">COVID-19</h1>
        </div>
    </div>
</div>
<div class="col-12 mb-">
    <div class="card text-center card-phrase">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-5">
                    <h2>
                        <p>"Se você pode, fique em casa!"</p>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sobre o corona -->
<div class="col-12 mt-5 mb-3">
    <div class="row justify-content-center mt-3">
        <div class="col-3 text-center">
            <img src="../../assets/virus.png" width="50" height="50">
        </div>
        <div class="col-5 text-center">
            <h2>
                <p>Sobre o COVID-19:</p>
            </h2>
        </div>
        <div class="col-3 text-center">
            <img src="../../assets/virus.png" width="50" height="50">
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-6">
            <p>A doença provocada pelo novo <b>Coronavírus</b> é oficialmente conhecida como <b>COVID-19</b>,
                sigla em inglês para “coronavirus disease 2019” (doença por coronavírus 2019, na tradução).</p>
            <p>Vírus que causa doença respiratória pelo agente coronavírus, com casos inicialmente registrados na China
                e depois em outros países.</p>
            <p> <b>Fonte: </b> Governo do estado de São Paulo.</p>
            <a href="https://www.saopaulo.sp.gov.br/coronavirus/">
                <button type="button" class="btn btn-info">Saiba mais</button>
            </a>
        </div>
    </div>
</div>

<!-- conteúdo - Como se prevenir -->
<div class="col-12 mt-5 text-center">
    <h2>
        <p>Como se prevenir ?</p>
    </h2>
    <p>Veja abaixo algumas das dicas recomendadas para se previnir:</p>
</div>
<div class="col-12 mb-5 mt-5">
    <div class="row justify-content-around">
        <div class="card card-tips mt-4">
            <img class="card-img-top" src="../../assets/lavagem-das-maos.png" alt="Lave as mãos">
            <div class="card-body">
                <hr>
                <p class="card-text">Lave bem as mãos com sabão, por aproximadamente 20 segundos.</p>
            </div>
        </div>
        <div class="card card-tips mt-4">
            <img class="card-img-top" src="../../assets/gel.png" alt="higienizar as mãos">
            <div class="card-body">
                <hr>
                <p class="card-text">Utilize álcool em gel 70% para higienizar as mãos.</p>
            </div>
        </div>
        <div class="card card-tips mt-4">
            <img class="card-img-top" src="../../assets/contaminados.png" alt="Lave as mãos">
            <div class="card-body">
                <hr>
                <p class="card-text">Deixe o seu ambiente sempre limpo e higienizado.</p>
            </div>
        </div>
        <div class="card card-tips mt-4">
            <img class="card-img-top" src="../../assets/frio.png" alt="Lave as mãos">
            <div class="card-body">
                <hr>
                <p class="card-text">Ao espirrar ou tossir opte por usar lenços de papel descartável, após o uso lave as
                    mãos.</p>
            </div>
        </div>
    </div>
</div>

<!-- conteúdo - Quando procurar ajuda ? --->
<div class="col-12 mb-5 mt-5 text-center">
    <h2>
        <p>Quando procurar ajuda ?</p>
    </h2>
    <p>Veja abaixo os níveis de sintomas e quando procurar ajuda:</p>
</div>
<div class="col-12 mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <p><b>CORIZA</b></p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
                    style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><b>Medida a ser tomada:</b> Ficar em casa.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <p><b>CORIZA + FEBRE</b></p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
                    style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <P><b>Medida a ser tomada:</b> Fique alerta em casa.</P>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <p><b>CORIZA + FEBRE + TOSSE</b></p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
                    style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <P><b>Medida a ser tomada:</b> Procure um posto de saúde mais próximo.</P>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <p><b>CORIZA + FEBRE + TOSSE + FALTA DE AR</b></p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar"
                    style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <P><b>Medida a ser tomada:</b> Procure o serviço de urgência mais próximo.</P>
        </div>
    </div>
</div>

<!-- conteúdo - Dicas -->
<div class="col-12 mb-5 mt-5 text-center">
    <h2>
        <p>Dicas</p>
    </h2>
    <p>Veja abaixo algumas dicas para esse período de quarentena:</p>
</div>
<div class="col-12 mt-5 mb-5">

    <div class="row mt-5 justify-content-center">
        <div class="col-8">
            <div class="media">
                <img class="align-self-start mr-3" src="../../assets/idoso.png" width="130" height="130" alt="Água">
                <div class="media-body">
                    <h5 class="mt-0">Ajude os mais necessitados</h5>
                    <p>Ajude os idosos, evite que saiam de casa, pois estão no grupo de alto risco.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-8">
            <div class="media">
                <img class="align-self-start mr-3" src="../../assets/agua.png" width="130" height="130" alt="Água">
                <div class="media-body">
                    <h5 class="mt-0">Evite o desperdiço de água</h5>
                    <p>Ao lavar bem as mãos ou tomar banho, evite o desperdiço de água, assim, ...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-8">
            <div class="media">
                <img class="align-self-start mr-3" src="../../assets/carrinho.png" width="130" height="130" alt="Água">
                <div class="media-body">
                    <h5 class="mt-0">Evite compras excessivas</h5>
                    <p>Ao ir no mercado compre somente o necessário, não "estoque", os produtos não iram acabar.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-8">
            <div class="media">
                <img class="align-self-start mr-3" src="../../assets/casa.png" width="130" height="130" alt="Água">
                <div class="media-body">
                    <h5 class="mt-0">Se você pode, fique em casa</h5>
                    <p>Ficando em casa vocë evita contato e aglomerações com as pesoas, ou seja, o afastamento social,
                        assim, é esperado que a redução da proliferaçõa do vírus aconteça</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-8">
            <div class="media">
                <img class="align-self-start mr-3" src="../../assets/trabalho-em-equipe.png" width="130" height="130"
                    alt="Água">
                <div class="media-body">
                    <h5 class="mt-0">Colaboração</h5>
                    <p>Nesse momento de crise, a colaboração de todos é essencial, faça sua parte e ajude a o próximo e a si mesmo.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container-fluid mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-around">
                        <div class="col-3">
                            <ul>
                                <h5>Conteúdo</h5>
                                <li>Sobre o COVID-19</li>
                                <li>Como se prevenir</li>
                                <li>Quando procurar ajuda</li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <ul>
                                <h5>Conteúdo</h5>
                                <li>Sobre o COVID-19</li>
                                <li>Como se prevenir</li>
                                <li>Quando procurar ajuda</li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <ul>
                                <h5>Conteúdo</h5>
                                <li>Sobre o COVID-19</li>
                                <li>Como se prevenir</li>
                                <li>Quando procurar ajuda</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center">
                    <p><b>@COVID-19</b>, 2020, Pedro H. - Software application developer</p>
                </div>
            </div>
        </div>
    </footer>